<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr Coffee | Home</title>
    <link rel="shortcut icon" href="./../images/logo_dark.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="./../css/style.css" type="text/css">
</head>
<body>
    <header class="main-header">
        <div class="logo"> 
            <a href="/">
                <img src="./../images/logo_dark.png" alt="">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/schedule">Manage Schedule</a></li>
            </ul>
        </nav>
        <div class="log-out">
            <a href="/logout">Logout</a>
            <i class="fas fa-sign-out-alt"></i>
        </div>
    </header>