<%- include('./../partials/auth-header') %>
<main>
    <div class="main-error">
        <h1 class="error-head">
            Something went wrong!!!
        </h1>
        <h2 class="error-h2">Error details:</h2>
        <p class="error-details">
            <%= msg%>
        </p>
    </div>
</main>
</body>