<%- include('./../partials/auth-header') %>
    <main>
        <div class="auth-container">
            <div class="logo">
                <img src="./../images/logo_dark.png" alt="Mr Coffee Logo">
            </div> 
            <div class="auth-form">
                <div class="header">
                    <h2>Log in</h2>
                    <p>Please login to see schedules</p>
                </div>
                <% if(typeof error != 'undefined'){ %>
                    <div class="auth-error">
                        <p><%= error %></p>
                    </div>
                <% } %>
                <form action="login" method="POST" enctype="application/x-www-form-urlencoded">
                    <div class="email input">
                        <label for="email"></label>
                        <input type="text" name="email" id="email" placeholder="Enter email">
                    </div>
                    <div class="password input">
                        <label for="password"></label>
                        <input type="password" name="password" id="password" placeholder="Enter password">
                    </div>
                    <div class="submit input">
                        <label for="submit"></label>
                        <button id="submit" name="submit"> Sign in</button>
                    </div>
                </form>
            </div>
            <p class="sign-up">Don't have an account? <a href="/auth/register">Register</a></p>
            <p class="forget-password"><a>Forget password?</a></p>
        </div>
    </main>
</body>