<%- include('./../partials/auth-header') %>
    <main>
        <div class="auth-container">
            <div class="logo">
                <img src="./../images/logo_dark.png" alt="Mr Coffee Logo">
            </div>
            <div class="auth-form">
                <div class="header">
                    <h2>Sign Up</h2>
                </div>
                <% if(typeof errors !== "undefined"){ %>
                  <% errors.forEach((err) => { %>
                    <div class="auth-error">
                      <p>
                        <%= err.msg %> 
                      </p>
                    </div>
                  <% }); %> 
                <% } %>
                <form action="/auth/register" method="POST" enctype="application/x-www-form-urlencoded">
                    <div class="first_name input">
                        <label for="first_name"></label>
                        <input id="first_name" type="text" name="first_name" placeholder="Enter first name">
                    </div>
                    <div class="last_name input">
                        <label for="last_name"></label>
                        <input id="last_name" type="text" name="last_name" placeholder="Enter last name">
                      </div>
                    <div class="email input">
                        <label for="email"></label>
                        <input type="text" name="email" id="email" placeholder="Enter email">
                    </div>
                    <div class="password input">
                        <label for="password"></label>
                        <input type="password" name="password" id="password" placeholder="Enter password">
                    </div>
                    <div class="password input">
                        <label for="confirm_password"></label>
                        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password">
                    </div>
                    <div class="submit input">
                        <label for="submit"></label>
                        <button id="submit" name="submit">Register</button>
                    </div>
                </form>
            </div>
            <p class="sign-up">Have an account? <a href="/auth/login">Login</a></p>
        </div>
    </main>
  </body>